/exercicio01.class
/exercicio02.class
/exercicio03.class
/exercicio04.class
/exercicio05.class
/exercicio06.class
/exercicio07.class
/exercicio08.class
/exercicio09.class
/exercicio10.class
/exercicio11.class
/exercicio12.class
/exercicio13.class
/exercicio14.class
/exercicio15.class
/exercicio16.class
/exercicio17.class
/exercicio18.class
/exercicio19.class
/exercicio20.class
/exercicio21.class
/exercicio22.class
/exercicio23.class
/exercicio24.class
/exercicio25.class
/exercicio26.class
/exercicio27.class
/exercicio272.class
/exercicio28.class
/exercicio29.class
